body {
  margin: 0;
  font-family: Preview;
}

@font-face {
  font-family: Preview;
  src: url(../fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: Gentium;
  src: url(../fonts/OpenSans-Bold.woff);
}

.head {
  position:relative;
  padding-top: 30px;
  padding-bottom: 145px;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  z-index: 0;
}

.head:after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.logo_menu {
  display: flex;
  margin-bottom: 90px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 180px;
}

.menu_button_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.menu_list {
  display: flex;
  margin: 0;
}

.headline_item {
  list-style-type: none;
  color: #ffffff;
  text-transform: uppercase;
}

.headline_item:nth-child(n+2) {
  margin-left: 30px;
}

.headline_item_list {
  font-family: Preview;
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
}

.head_title {
  width: 48%;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-family: Gentium;
  font-size: 45px;
  color: #ffffff;
  line-height: 1.4em;
  letter-spacing: 2px;
}

.line_block {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.line_title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.line_title::after {
  content:"";
  display: block;
  background-color: #e1d9bd;
  margin: auto;
  width: 70px;
  height: 3px;
  margin-top: 12px;
}

.trends1 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24.7%;
  min-height: 350px;
  z-index: 0;
}

.trends1:after {
  content:"";
  background-color: #000000;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index:-1;
}

.trends2 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24.7%;
  min-height: 350px;
  margin-left: 0.3%;
  z-index: 0;
}

.trends2:after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index:-1;
}

.trends3 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24.7%;
  min-height: 350px;
  margin-left: 0.3%;
  z-index: 0;
}

.trends3:after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.trends4 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24.7%;
  min-height: 350px;
  margin-left: 0.3%;
  z-index: 0;
}

.trends4:after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.trends_info {
  padding: 20px;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #b59f5b;
}

.trends_name_tegs {
  font-family: Gentium;
  text-decoration: none; 
  text-transform: uppercase;
  color: #b59f5b;
}

.trends_title_text {
  margin: 0;
}

.trends_title_list {
  display: inline;
  list-style-type: none;
}

.trends_title {
  margin: 0;
  padding: 0;
}

.trends_text {
  font-family: Gentium;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.double_charts {
  display: flex;
  justify-content:space-between;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 1200px;
}

.content {
  width: 66.67%;
}

.post {
  display: flex;
  margin-bottom: 60px;
}

.post_picture {
  margin-right: 30px;
  width: 383px;
}

.text_title {
  font-size:20px;
  text-transform:uppercase;
  font-family: Gentium;
  text-decoration:none;
  color:#0f0d0e; 
}

.tegs_title_list:nth-child(n+2) {
 margin-left: 20px; 
}

.name_tegs {
 font-family: Gentium;
 text-decoration:none; 
 text-transform:uppercase;
 color:#b59f5b;
}

.author_name {
  vertical-align: text-top;
  margin-left:10px;
  font-family:Gentium;
  font-size:12px;
}

.post_info {
  text-align:left;
}

.post_date {
  font-family: Preview;
  vertical-align: text-top;
  font-size:12px;
  color:#888888;
}

.post_title_text {
  margin-top: 20px;
  font-family: Preview;
  font-size: 15px;
}

.tegs_title {
 margin:0;
 padding:0;
}

.tegs_title_list {
  display:inline;
  list-style-type: none;
}

.new_posts {
  width: 22.5%; 
}

.new_post {
  display: flex;
  margin-bottom: 5.29%;
  width: 100%;
}

.new_post_title {
  text-align:center;
  font-family:Gentium;
  font-size:14px;
  text-transform:uppercase;
  margin-top: 0;
  margin-bottom:60px;
}

.new_post_title::after {
  content:"";
  display:block;
  background-color:#e1d9bd;
  margin-left:100px;
  margin-top:12px;
  width:70px;
  height:3px;
}

.new_post_info {
  display: flex;
  flex-direction: column;
  margin-left: 5.57%;
  width: 66.67%;
}

.post_title {
  font-family: Gentium;
  text-transform: uppercase;
  margin-top:0;
  font-size:14px;
}

.form_one {
 display:flex;
 margin-top:60px;
}

.search_label {
  width: 100%;
}

.input_search {
  background-color:#f4f7f6;
  box-sizing:border-box;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  height:48px;
  border:2px solid #f4f7f6;
  
}

.button_search {
  width: 17.78%;
  height: 48px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-size: 20px;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position:center center;
  cursor:pointer;
  border:2px solid #b59f5b;
}

.search_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.button_search_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.form_two {
  margin-top:30px;
}

.title_form_two {
  font-family:Gentium;
  font-size:14px;
  text-align:center;
  text-transform:uppercase;
  margin-top:65px;
}

.title_form_two::after {
  content:"";
  display:block;
  background-color:#e1d9bd;
  margin-left:100px;
  margin-top:12px;
  width:70px;
  height:3px;
}

.input_write {
 background-color:#f4f7f6;
 box-sizing:border-box;
 padding-left: 10px;
 padding-right: 10px;
 width:100%;
 height:48px; 
 border:2px solid #f4f7f6;
}

.write_text {
  position:absolute;
  width:1px;
  height:1px;
  clip:rect(1px,1px,1px,1px);
}

.button_write {
  background-color:#b59f5b;
  width:100%;
  height:48px;
  margin-top:15px;
  text-transform:uppercase;
  font-family:Gentium;
  font-size:14px;
  color:#ffffff;
  cursor:pointer;
  border:2px solid #b59f5b;
}

.title_write_tegs {
  font-family:Gentium;
  font-size:14px;
  text-align:center;
  text-transform:uppercase;
  margin-top:60px;
}

.title_write_tegs::after {
  content:"";
  display:block;
  background-color:#e1d9bd;
  margin-left:100px;
  margin-top:12px;
  width:70px;
  height:3px;
}

.boxs {
  display:flex;
  flex-wrap:wrap;
  width: 100%;
  padding:0;
  margin-top:30px;
}

.box_name {
  list-style-type: none;
  border: 3px solid #ededed;
  margin-right: 10px;
  margin-bottom:10px;
  padding: 3px 10px;
}



.box_name_list {
 font-family: Gentium;
 font-size: 12px;
 text-decoration:none; 
 text-transform:uppercase;
 color:#0f0d0e;
}

.title_tems {
  font-family:Gentium;
  text-align:center;
  font-size:14px;
  text-transform:uppercase;
  margin-top:60px;
}

.title_tems::after {
  content:"";
  display:block;
  background-color:#e1d9bd;
  margin-left:100px;
  margin-top:12px;
  width:70px;
  height:3px;
}

.tems_write {
  display:flex;
  flex-direction:column;
  padding:0;
  margin-top:30px;
}

.tems_name_list {
 list-style-type: none;
 border-bottom:2px solid #eeeeee;
 padding-bottom: 10px;
}

.tems_name_list:nth-child(n+2) {
  margin-top:20px;
}

.option_tems {
 font-family: Gentium;
 font-size:14px;
 text-decoration:none; 
 color:#0f0d0e; 
}

.numbers_tems {
  font-family:Gentium;
  font-size:12px;
  color:#b59f5b;
  vertical-align:text-top;
}

.our_makes_title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.our_makes_title::after {
  content:"";
  display:block;
  background-color:#e1d9bd;
  margin: auto;
  width:70px;
  height:3px;
  margin-top: 12px;
}

.our_makes {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.make_card {
  display: flex;
  flex-direction: column;
  width: 29.17%;
}

.make_card:nth-child(n+2) {
  margin-left: 6.25%;
}


.make_title_text {
  font-family: Gentium;
  font-size: 20px;
  text-transform: uppercase;
}

.make_text {
  width: 100%;
  font-family: Preview;
  font-size: 15px;
  margin-bottom: 20px;
}

.make_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: ;
}

.price {
  display: flex;
  flex-direction: column;
}

.make_old_price {
  font-family: Gentium;
  text-decoration: line-through;
  font-size: 14px;
}

.make_new_price {
  font-family: Gentium;
  font-size: 20px;
}

.make_button {
  background-color:#b59f5b;
  width:130px;
  height:50px;
  text-transform:uppercase;
  font-family:Gentium;
  font-size:14px;
  color:#ffffff;
  cursor:pointer;
  border:2px solid #b59f5b;
}

.shop_info {
  box-sizing: border-box;
  padding: 25px;
  margin-left: -30px;
  margin-top: -30px;
  width: 100%;
  max-width: 345px;
  border: 2px solid #b59f5b;
  flex-grow: 1;

}

.make_url {
  text-decoration: none;
  color: #b59f5b;
}

.under {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 70px;

  
}

.socials {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#f4f7f6;
  
}

.paints {
  list-style-type:none;

}

.paints:nth-child(n+2) {
  margin-left: 1.95%;
}

.web {
  display: inline-block;
  width:40px;
  height:40px;
  background-repeat:no-repeat;
  background-position:center;
  background-color:#f4f7f6;
  background-size:25px;
}

.web_twitter {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
}

.web_pinterest {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.web_facebook {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
}

.web_instagram {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
}

.web_tumblr {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.link_text {
  position:absolute;
  width:1px;
  height:1px;
  clip:rect(1px,1px,1px,1px);
}


.write {
  display: block;
  font-family:Gentium;
  text-align: center;
  width: 26.67%;
  font-size:12px;
  color:#bfbfbf;
  margin-top:70px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .menu {
    display: none;
  }

  .logo_menu {
    justify-content: flex-start;
    padding-left: 4.95%;
  }

  .head_title {
    width: 79.43%;
  }

  .line_block {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .trends1 {
  width: 50%; 
  }

  .trends2 {
  width: 50%;
  }

  .trends3 {
  width: 50%;
  }

  .trends4 {
  width: 50%;
  }

}