body {
  margin: 0;
  font-family: Preview;
  font-size: 16px;
}

@font-face {
  font-family: Preview;
  src: url(../fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: Gentium;
  src: url(../fonts/OpenSans-Bold.woff);
}

.head {
  position:relative;
  padding-top: 30px;
  padding-bottom: 145px;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  z-index: 0;
}

.head:after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.logo_menu {
  display: flex;
  margin-bottom: 90px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 180px;
}

.menu_button_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.menu_list {
  font-size: 0.81em;
  display: flex;
  margin: 0;
}

.headline_item {
  list-style-type: none;
  color: #ffffff;
  text-transform: uppercase;
}

.headline_item:nth-child(n+2) {
  margin-left: 30px;
}

.headline_item_list {
  text-decoration: none;
  color: #ffffff;
}

.head_title {
  width: 48%;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-family: Gentium;
  font-size: 2.81em;
  color: #ffffff;
  line-height: 1.4em;
  letter-spacing: 2px;
}

.line_block {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 20px;
}

.line_title {
  font-family: Gentium;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.line_title::after {
  content:"";
  display: block;
  background-color: #e1d9bd;
  margin: auto;
  width: 70px;
  height: 3px;
  margin-top: 12px;
}

.trends1 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24.7%;
  min-height: 350px;
  z-index: 0;
}

.trends1:after {
  content:"";
  background-color: #000000;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index:-1;
}

.trends2 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24.7%;
  min-height: 350px;
  margin-left: 0.3%;
  z-index: 0;
}

.trends2:after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index:-1;
}

.trends3 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24.7%;
  min-height: 350px;
  margin-left: 0.3%;
  z-index: 0;
}

.trends3:after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.trends4 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24.7%;
  min-height: 350px;
  margin-left: 0.3%;
  z-index: 0;
}

.trends4:after {
  content:"";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.trends_info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: 2px solid #b59f5b;
}

.trends_name_tegs {
  font-family: Gentium;
  font-size: 0.7em;
  text-decoration: none; 
  text-transform: uppercase;
  color: #b59f5b;
}

.trends_title_text {
  margin: 0;
}

.trends_title_list {
  display: inline;
  list-style-type: none;
}

.trends_title {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 0;
}

.trends_text {
  font-family: Gentium;
  font-size: 1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.double_charts {
  display: flex;
  justify-content:space-between;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 1200px;
}

.content {
  width: 66.67%;
}

.post {
  display: flex;
  margin-bottom: 60px;
}

.post_picture {
  margin-right: 30px;
  width: 383px;
}

.post_info {
  text-align:left;
}

.text_title {
  font-size:20px;
  text-transform:uppercase;
  font-family: Gentium;
  text-decoration:none;
  color:#0f0d0e; 
}

.tegs_title {
 margin:0;
 padding:0;
}

.tegs_title_list:nth-child(n+2) {
 margin-left: 20px; 
}

.name_tegs {
 font-family: Gentium;
 font-size: 0.87em;
 text-decoration:none; 
 text-transform:uppercase;
 color:#b59f5b;
}

.author_name {
  vertical-align: text-top;
  margin-left:10px;
  font-family:Gentium;
  font-size: 0.75em;
}

.post_date {
  vertical-align: text-top;
  font-size: 0.75em;
  color: #888888;
}

.post_title_text {
  margin-top: 20px;
  font-size: 0.93em;
}

.tegs_title_list {
  display:inline;
  list-style-type: none;
}

.new_posts {
  width: 22.5%; 
}

.new_post {
  display: flex;
  margin-bottom: 5.29%;
  width: 100%;
}

.new_post_title {
  text-align:center;
  font-family:Gentium;
  font-size: 0.87em;
  text-transform:uppercase;
  margin-top: 0;
  margin-bottom:60px;
}

.new_post_title::after {
  content:"";
  display:block;
  background-color:#e1d9bd;
  margin-left: 44.04%;
  margin-top: 12px;
  width: 14%;
  height: 3px;
}

.new_post_info {
  display: flex;
  flex-direction: column;
  margin-left: 5.57%;
  width: 66.67%;
}

.post_title {
  font-family: Gentium;
  text-transform: uppercase;
  margin-top:0;
  font-size: 0.87em;
}

.form_one {
 display:flex;
 margin-top:30px;
}

.search_label {
  width: 100%;
}

.input_search {
  background-color:#f4f7f6;
  box-sizing:border-box;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  height:48px;
  border:2px solid #f4f7f6;
}

.button_search {
  width: 17.78%;
  height: 48px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-size: 20px;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position:center center;
  cursor:pointer;
  border:2px solid #b59f5b;
}

.search_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.button_search_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.form_two {
  margin-top:30px;
}

.title_form_two {
  font-family:Gentium;
  font-size: 0.87em;
  text-align:center;
  text-transform:uppercase;
  margin-top:45px;
}

.title_form_two::after {
  content:"";
  display:block;
  background-color:#e1d9bd;
  margin-left: 44.04%;
  margin-top:12px;
  width: 14%;
  height: 3px;
}

.input_write {
 background-color:#f4f7f6;
 box-sizing:border-box;
 padding-left: 10px;
 padding-right: 10px;
 width:100%;
 height:48px; 
 border:2px solid #f4f7f6;
}

.write_text {
  position:absolute;
  width:1px;
  height:1px;
  clip:rect(1px,1px,1px,1px);
}

.button_write {
  background-color:#b59f5b;
  width:100%;
  height:48px;
  margin-top:15px;
  text-transform:uppercase;
  font-family:Gentium;
  font-size: 0.87em;
  color:#ffffff;
  cursor:pointer;
  border:2px solid #b59f5b;
}

.title_write_tegs {
  font-family:Gentium;
  font-size: 0.87em;
  text-align:center;
  text-transform:uppercase;
  margin-top: 40px;
}

.title_write_tegs::after {
  content:"";
  display:block;
  background-color:#e1d9bd;
  margin-left: 44.04%;
  margin-top: 12px;
  width: 14%;
  height:3px;
}

.boxs {
  display:flex;
  flex-wrap:wrap;
  width: 100%;
  padding:0;
  margin-top:30px;
}

.box_name {
  list-style-type: none;
  border: 3px solid #ededed;
  margin-right: 10px;
  margin-bottom:10px;
  padding: 3px 10px;
}

.box_name_list {
 font-family: Gentium;
 font-size: 0.75em;
 text-decoration:none; 
 text-transform:uppercase;
 color:#0f0d0e;
}

.title_tems {
  font-family:Gentium;
  text-align:center;
  font-size: 0.87em;
  text-transform:uppercase;
  margin-top:40px;
}

.title_tems::after {
  content:"";
  display:block;
  background-color:#e1d9bd;
  margin-left: 44.04%;
  margin-top: 12px;
  width: 14%;
  height:3px;
}

.tems_write {
  display:flex;
  flex-direction:column;
  padding:0;
  margin-top:30px;
  font-size: 0.87em;
  font-family: Gentium;
}

.tems_name_list {
 list-style-type: none;
 border-bottom: 2px solid #eeeeee;
 padding-bottom: 10px;
}

.tems_name_list:nth-child(n+2) {
  margin-top: 10px;
}

.option_tems {
 text-decoration:none; 
 color: #0f0d0e; 
}

.numbers_tems {
  font-family:Gentium;
  font-size: 0.75em;
  color: #b59f5b;
  vertical-align: text-top;
}

.our_makes {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.our_makes_title {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.our_makes_title::after {
  content:"";
  display: block;
  background-color: #e1d9bd;
  margin: auto;
  width: 70px;
  height: 3px;
  margin-top: 12px;
}

.make_card {
  display: flex;
  flex-direction: column;
  width: 29.17%;
}

.make_card:nth-child(n+2) {
  margin-left: 6.25%;
}

.make_title_text {
  font-family: Gentium;
  font-size: 1em;
  text-transform: uppercase;
}

.make_text {
  width: 100%;
  font-family: Preview;
  font-size: 0.75em;
  margin-bottom: 20px;
}

.make_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price {
  display: flex;
  flex-direction: column;
}

.make_old_price {
  font-family: Gentium;
  text-decoration: line-through;
  font-size: 0.7em;
}

.make_new_price {
  font-family: Gentium;
  font-size: 1em;
}

.make_button {
  background-color:#b59f5b;
  width:130px;
  height:50px;
  text-transform:uppercase;
  font-family:Gentium;
  font-size: 0.7em;
  color:#ffffff;
  cursor:pointer;
  border:2px solid #b59f5b;
}

.shop_info {
  box-sizing: border-box;
  padding: 25px;
  margin-left: -30px;
  margin-top: -30px;
  width: 100%;
  max-width: 345px;
  border: 2px solid #b59f5b;
  flex-grow: 1;
}

.shop_info_text {
  font-size: 1em;
}

.make_url {
  font-size: 1em;
  text-decoration: none;
  color: #b59f5b;
}

.under {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 70px; 
}

.socials {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#f4f7f6; 
}

.paints {
  list-style-type:none;
}

.paints:nth-child(n+2) {
  margin-left: 1.95%;
}

.web {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f4f7f6;
  background-size: 25px;
}

.web_twitter {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
}

.web_pinterest {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.web_facebook {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
}

.web_instagram {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
}

.web_tumblr {
  background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.link_text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip:rect(1px,1px,1px,1px);
}


.write {
  display: block;
  font-family: Gentium;
  text-align: center;
  width: 26.67%;
  font-size: 0.75em;
  color: #bfbfbf;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 641px) and (max-width: 1200px) {
.menu {
    display: none;
  }

.logo_menu {
    justify-content: flex-start;
    padding-left: 4.95%;
  }

.head_title {
    width: 79.43%;
    font-size: 2.5em;
  }

.line_title {
    font-size: 0.9em;
  }

.line_block {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

.trends1 {
  width: 49.7%; 
  }

.trends2 {
  width: 49.7%;
  }

.trends3 {
  width: 49.7%;
  margin-left: 0;
  margin-top: 5px;
  }

.trends4 {
  width: 49.7%;
  margin-top: 5px;
  }

.trends_info {
    width: 65.62%;
    margin-left: auto;
    margin-right: auto;
  }

.trends_text {
    font-size: 0.85em;
  }

.double_charts {
    max-width: 700px;
  }

.content {
    width: 57.14%;
  }

.post {
    flex-direction: column;
  }

.post_picture {
    width: 100%;
  }

.text_title {
  font-size: 1.06em;
  }

.tegs_title {
 margin-top: 15px;
}

.new_posts {
  width: 38.57%;
}

.our_makes {
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 700px;
}

.our_makes_title {
  font-size: 0.9em;
}

.make_title_text {
  font-size: 0.85em;
}

.shop_info_text {
  font-size: 0.9em;
}

.make_old_price {
  font-size: 0.6em;
}

.make_new_price {
  font-size: 0.9em;
}

.make_card {
  width: 47.86%;
}

.make_card:nth-child(2) {
  margin-left: 4.28%;
}

.make_card:nth-child(3) {
  margin-top: 20px;
  margin-left: 0;
}

.under {
  max-width: 700px;
}

}

@media (max-width: 640px) {

body {
  font-size: 8px;
}

.menu {
    display: none;
  }

.logo_menu {
  width: 77.78%;
  max-width: 300px;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 90px;
}

.head_title {
  margin-top: 20px;
  width: 80.33%;
  font-size: 3.25em;
}

.line_title {
  font-size: 2em;
}

.line_block {
flex-direction: column;
width: 100%;
}

.trends1 {
  width: 100%; 
  }

.trends2 {
  width: 100%;
  margin-top: 5px;
  }

.trends3 {
  width: 100%;
  margin-top: 5px;
  }

.trends4 {
  width: 100%;
  margin-top: 5px;
  }

.trends_text {
    font-size: 0.7em;
  }

.double_charts {
    flex-direction: column;
    width: 91.67%;
    margin-left: auto;
    margin-right: auto;
  }

.content {
    width: 100%;
  }

.post {
    flex-direction: column;
  }

.post_picture {
    width: 100%;
    margin-right: 0;
  }

.tegs_title {
    margin-top: 10px;
  }

.name_tegs {
    font-size: 1.75em;
  }

.text_title {
    font-size: 2em;
  }

.post_date {
    font-size: 1.5em;
  }

.author_name {
    font-size: 1.5em;
  }

.post_title_text {
    font-size: 1.75em;
  }

.new_posts {
    width: 100%;
  }

.new_post_title {
    font-size: 2em;
  }

.post_title {
    font-size: 1.75em;
  }

  .search_label {
  width: 91.67%;
}

.button_search {
  width: 10.55%;
}

.title_form_two {
  font-size: 2em;
}

.title_tems {
  font-size: 2em;
}

.title_write_tegs {
  font-size: 2em;
}

.boxs {
  width: 91.67%;
  margin-top:30px;
}

.box_name_list {
 font-size: 1.5em;
}

.button_write {
  font-size: 1.75em;
}

.tems_write {
  font-size: 1.75em; 
}

.number_tems {
  font-size: 1.5em;
}

  .our_makes {
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.make_card {
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

.make_card:nth-child(n+2) {
  margin-left: 0;
  margin-top: 20px;
}

.shop_info {
  margin-left: 0;
}

.our_makes_title {
  margin-top: 20px;
  font-size: 2em;
}

.make_title_text {
  font-size: 0.85em;
}

.shop_info_text {
  font-size: 0.9em;
}

.make_old_price {
  font-size: 0.6em;
}

.make_new_price {
  font-size: 0.9em;
}

.make_button {
  font-size: 0.6em;
}

.under {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

.write {
    font-size: 1.5em;
  }


}